@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space mono", monospace;
}

:root {
    font-size: 62.5%;
    --jagged-ice: #C5E4E7;
    --white: #FFF;
    --sherpa-blue: #00474B;
    --greyish-turquoise: #5E7A7D;
    --topaz: #26C2AE;
    --regent-grey: #7F9D9F;
    --squeeze: #F3F9FA;
    --beetle-green: #547878;
}

body {
    background-color: var(--jagged-ice);
    font-size: 1.6rem;
}

header{
    margin-top: 7.5rem;
    padding-top: 5rem;
    padding-bottom: 7.5rem;

    display: flex;
    justify-content: center;
}

main {
    background-color: var(--white);
    padding: 3.2rem 2.4rem;

    border-radius: 25px 25px 0 0;
}

.info {
    padding-inline: 0.8rem;

    div {
        margin-bottom: 3.2rem;
    }
    
    strong {
        color: var(--greyish-turquoise);
        display: block;
        margin-bottom: .6rem;
    }

    .input-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--squeeze);
        padding: 0.6rem 1.8rem;
        border-radius: 5px;

        input {
            background-color: transparent;
            text-align: right;
            border: none;
            outline: none;
            width: 100%;
            font-weight: 700;
            font-size: 2.4rem;
            color: var(--sherpa-blue);
        }
        input::placeholder {
            color: #A0BDBE;
        }
        &:has(input:focus) {
            outline: 2px solid var(--topaz);
        }
    }

    .tip {
        div {
            margin-top: 1.6rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.6rem;
        }
        button {
            background-color: var(--sherpa-blue);
            color: var(--white);
            font-size: 2.4rem;
            font-weight: 700;
            border: none;
            padding: .6rem;
            border-radius: .5rem;
        }
        .button-selected{
            background-color: var(--topaz);
        }
        input{
            background-color: var(--squeeze);
            color: var(--sherpa-blue);
            width: 100%;
            padding-right: 0.75rem;
            font-size: 24px;
            font-weight: 700;
            text-align: right;
            border: none;
            outline: none;
            border-radius: .5rem;
        }
        input::placeholder{
            text-align: center;
            color: var(--beetle-green);
        }
        input:focus{
            outline: 2px solid var(--topaz);
        }
    }
}

.results{
    background-color: var(--sherpa-blue);
    padding: 2.4rem;
    border-radius: 1.5rem;

    .amount,
    .total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2.5rem;
    }

    p {
        color: var(--white);
        font-size: 1.6rem;
        font-weight: 700;
        span{
            color: var(--regent-grey);
        }
    }

    strong {
        color: var(--topaz);
        font-size: 3.2rem;
    }

    button{
        padding: .9rem;
        width: 100%;
        border: none;
        outline: none;
        text-transform: uppercase;
        background-color: var(--topaz);
        color: var(--sherpa-blue);
        font-weight: 700;
        font-size: 2rem;
        border-radius: .5rem;
    }
}

@media(min-width: 920px){

    main {
        width: 92rem;
        display: flex;
        gap: 4.8rem;
        padding: 4.8rem;
        margin-inline: auto;
        border-radius: 2.5rem;

        section {
            width: 100%;
        }
        .info .tip div {
            grid-template-columns: repeat(3,1fr);

            button {
                transition: .5s;
            }
            button:hover {
                background-color: var(--topaz);
                cursor: pointer;
                transition: .5s;
            }
        }

        input::-webkit-inner-spin-button,
        input::-webkit-outer-spin-button{
            display: none;
        }

        .results {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            strong {
                font-size: 4.8rem;
            }
            p {
                font-size: 1.6rem;
            }
            span {
                font-size: 1.3rem;
            }
        }
    }
}